*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
        background: rgb(43, 56, 68);
        padding: 23px 81px;
}
header .container{
    display: flex;
    justify-content: space-between;
   
}
header h2{
    color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 24px;
        font-weight: 800;
        line-height: 33px;
        letter-spacing: 0px;
        text-align: left;
}
button{
    color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: left;
        background-color: transparent;
        border: none;
}

 input{
    border: none;
    border-radius: 5px;
    color: white;
        box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
        background: rgb(43, 56, 68);
        padding: 18px 74px;
        margin-top: 128px;
        width: 480px;
        height: 56px;
        margin-left: 80px;
}
#hero{
    background-color: rgb(32, 44, 54);
    height: 1024px;
   
}
#hero .container{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}
.container .card{
    width: 264px;
    height: 250px;
}
.card{
    border-radius: 5px;
    
        box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
        background: rgb(43, 56, 68);
        
}
h3{
    color: rgb(255, 255, 255);
        font-family: Nunito Sans;
        font-size: 18px;
        font-weight: 800;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: center;
        padding: 32px;
}
@media (max-width:1024px) {
    header h2 {
        font-size: 18px;
    }
    input{
        width: 768px;
            height: 101px;
    }

    header {
        padding: 27px 34px;
    }
    #hero .container{
        display: flex;
        gap: 225px;
        flex-wrap: wrap;
        background-color: #202C36;

    }
}

@media (max-width:576px) {
    header h2 {
        font-size: 14px;
    }
    input{
        width: 343px;
        height: 48px;
    }

    header {
        padding: 30px 16px;
    }
}